aclocal.m4
AUTHORS
autom4te.cache/
ccr
cmake-build-debug
CMakeCache.txt
CMakeFiles
cmake_install.cmake
codecrypt-*.tar.gz
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
.idea
INSTALL
install-sh
libtool
ltmain.sh
m4/
Makefile
Makefile.am
Makefile.in
missing
NEWS
src/.deps/
src/.dirstamp
src/*.o
