Makefile
Makefile.am
Makefile.in
aclocal.m4
autom4te.cache/
ccr
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/.dirstamp
src/*.o
